@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: rgb(var(--foreground-rgb));
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-caveat {
  font-family: 'Caveat', cursive;
}

.font-edu {
  font-family: 'Edu NSW ACT Foundation', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(250px, 1fr)
  ); /* Kolom responsif */
  grid-gap: 16px; /* Jarak antar item */
}

.grid-item {
  background-color: #f2f2f2;
  padding: 16px;
}
